services:
  - type: web
    name: sayhi.io.vn
    env: python
    plan: free
    buildCommand: |
      pip install -r requirements.txt
      python manage.py makemigrations
      python manage.py migrate
    startCommand: daphne -b 0.0.0.0 -p $PORT chat_project.asgi:application
